
@font-face {
  font-family: "g";
  src: url("book.ttf");
}

body{
  font-family: g;
  margin: 0;
  width: 100%;
  background: linear-gradient(-90deg, #d9adff, #96bdff);
}

.check-row{
  width: 100%;
  margin: 10px;
  margin-left: 5%;
}
.check-col{
  text-align: left;
}

.check-row-small{
  display: none;
  width: 100%;
  margin: 10px;
  margin-left: 12%;
}

.check-col-small{
  display: none;
  text-align: left;
  padding-left: 0%;
}

.delete{
  background-color: #fffbfbeb;
  border-radius: 6px;
  width: 90%;
  text-align: center;
  margin: 1%;
  visibility: hidden;
}

.like{
  background-color: #dca9b2a1;
  border-radius: 6px;
  width: 90%;
  text-align: center;
  margin: 1%;
}

.res{
  text-align: center;
  padding:10%;
}

#rank{
  width: 50%;
  padding: 2%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}


.palette-color{
  padding: 1%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#p{
  width: 90%; margin-left: auto; margin-right: auto; display: block;
}

.i{
  display: block; margin-left: auto; margin-right: auto; width: 90%;
}


#header {
  padding: 15%;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1535955565956-4a631184a821?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  background-size: cover;
  background-position: center;
  font-size: 35px;
  color: black;
  text-shadow: 2px 2px 5px white;
}

.is-invalid {
  color: red;
}

small{
  margin-bottom: 3%;
}

h2{
  text-align: center;
}

h4{
  text-align: center;
}


#contact, #search{
  margin: 5%;
}

p{
  text-align: left;
}

ul{
  text-align: left;
}

img{
  padding: 1%;
}

.col-md{
  padding: 2%;
  text-align: center;
}

.col-md-8{
  padding: 2%;
  text-align: center;
}

.page-footer{
  background-color: rgba(121, 59, 59, 0.39);
}

.navbar{
  background-color: rgba(121, 59, 59, 0.39);
  box-shadow: 0px 0px 20px rgb(77, 72, 150);
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #003300;
}

#header p{
  font-size: 20px;
  text-shadow: 1px 1px black;
}

@media (max-width: 768px){
  .check-row{
    display: none;
  }
  .check-col{
    display: none;
  }
  
  .check-row-small{
    display: flex;
  }
  
  .check-col-small{
    display: block;
  }

}


@media (min-width: 768px){
   img{
    padding: 3%;
   }

   .row2{
    flex-direction: row-reverse;
   }
}